
body {
  margin: 0;
  background: #fff5f5;
  font-family: Arial;
}
header {
  background: #7A0D1A;
  padding: 20px;
  text-align: center;
}
.title {
  color: #D9B264;
  font-size: 32px;
}
.hero {
  background: linear-gradient(135deg, #7A0D1A, #A11222);
  padding: 40px;
  text-align: center;
  color: white;
}
.hero-text {
  color: #F5E1A4;
  font-size: 28px;
  text-shadow: 0 0 10px gold;
}
.products {
  display: flex;
  gap: 20px;
  padding: 20px;
}
.product-card {
  background: white;
  padding: 15px;
  border-radius: 10px;
  width: 30%;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
.img-box {
  height: 150px;
  background: #ddd;
  border-radius: 10px;
}
button {
  background: #A11222;
  color: white;
  border: none;
  padding: 10px;
  width: 100%;
  margin-top: 10px;
  border-radius: 8px;
}
button:hover {
  background: #7A0D1A;
}
.cart {
  padding: 20px;
}
.checkout {
  background: #D9B264;
  color: black;
  font-weight: bold;
}
.checkout:hover {
  background: #F5E1A4;
}
